language: python
python:
  - '3.6'
install:
  - pip install -r requirements.txt -e .[test]
script:
  - python --version
  - pytest --version
  - pre-commit run --all-files
  - pytest --cov --cov-config=.coveragerc
after_script:
  - python -m codecov
deploy:
  provider: pypi
  user: __token__
  password: $PYPI_PASSWORD
  distributions: "sdist bdist_wheel"
  on:
    tags: true
